div {
    width: 100vw;
    height: 50vh;
    background-color: #000814;
    display: flex;
    justify-content: space-evenly;
}

div img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100vw;
}

button {
    align-items: center;
    padding: 20px auto;
    width: 200px;
    height: 50px;
    margin: 0px auto;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid #fb5607;
    background-color: black;
    color: #f8961e;
}

article {
    transition: all 2s;
}

button:hover {
    box-shadow: 2px white;
    cursor: pointer;
    transform: scale(1.08);
    color: #f8edeb;
    border: 3px solid #f9c74f;
    box-shadow: 5px 8px 10px #ffb700;
    text-shadow: 5px 5px 10px white;
}